@font-face {
    font-family: 'Digitalt';
    src: url('/font/Digitalt.woff') format('woff'),
         url('/font/digitalt-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


#top-left {
    position: relative;
    top: 5%;
    left: 1%;
    text-align: left;
    color: azure;
    font-size: 700%;
    font-family: 'Digitalt';
}
