@font-face {
    font-family: 'Digitalt';
    src: url('font/digitalt.woff2') format('woff2'),
         url('font/digitalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#top-left {
    position: relative;
    top: 10px;
    left: 20px;
    text-align: left;
    color: azure;
    font-size: 5em;
    font-family: 'Digitalt';
}
